# Robustez de los prestatarios

## Abra la tabla y examine la información general de los datos

**Tarea 1. Importar la biblioteca pandas. Leer los datos del archivo csv en el dataphrame y guardarlos en la variable ːdata ː. Ruta del archivo:**

messi/datasets/data.csv[

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Tarea 2. Imprimir las primeras 20 líneas del datafreem ¹dataː en la pantalla.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Tarea 3. Imprima la información básica sobre el datafreme usando el ːinfo()).**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Vista previa de datos

#### Quitar saltos

**Tarea 4. Imprimir el número de valores perdidos para cada columna. Utilice una combinación de dos métodos.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Tarea 5. Faltan valores en las dos columnas. Uno de ellos es ː days_employed ː. Las omisiones en esta columna se procesarán en el siguiente paso. Otra columna con valores omitidos - [total_income¹ - almacena los datos de ingresos. La cantidad de ingresos está más fuertemente influenciada por el tipo de empleo, por lo que debe llenar los espacios en blanco en esta columna con el valor medio para cada tipo de columna ːincome_type ː. Por ejemplo, en una persona con un tipo de empleo, el pase en la columna ¹total_incomeâ debe estar lleno de ingresos medianos entre todas las entradas del mismo tipo.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Procesamiento de valores anómalos

**Tarea 6. Los datos pueden contener artefactos (anomalías) - valores que no reflejan la realidad y aparecen por algún error. Tal artefacto es el número negativo de días de antigüedad en la columna de los días de trabajo que se han empleado. Para datos reales esto es normal. Procese los valores de esta columna: sustituya todos los valores negativos por valores positivos utilizando el valor ¹abs()).**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Tarea 7. Para cada tipo de empleo, indíquese la duración media del servicio ¹days_employs_ en días.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

En dos tipos (desempleados y pensionistas) los valores son anormalmente grandes. Es difícil fijar esos valores, así que déjalos como están. Especialmente porque no necesitarás esta columna para investigar.

**Tarea 8. Imprimir la lista de valores únicos de columnas ¹hijos ː.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Tarea 9. Hay dos valores anómalos de esta manera en la columna ː niños  . Elimine las filas que contienen tales valores anómalos de la dataphraim ¿data ː.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Tarea 10. De nuevo, imprima la lista de valores de columna únicos ¿children ː para asegurarse de que se han eliminado los artefactos.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

#### Eliminar saltos (continuación)

**Tarea 11. Rellene las omisiones en la columna días de empleo con valores medios para cada tipo de empleo ¿income_type ː.***

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Tarea 12. Asegúrese de que todos los pases están llenos. Compruébelo e imprima nuevamente el número de valores perdidos para cada columna usando dos métodos.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

#### Cambiar los tipos de datos

**Tarea 13. Reemplace el tipo de datos real en la columna ¹total_incomeː con el tipo entero usando el ¹astype()).**

In [13]:
data['total_income'] = data['total_income'].astype(int)

#### Procesamiento de duplicados

**Tarea 14. Procesar duplicados implícitos en la columna ¹education¹. Esta columna tiene los mismos valores, pero escritos de diferentes maneras, usando letras mayúsculas y minúsculas. Llévelos a minúsculas. Compruebe las otras columnas.**

In [14]:
data['education'] = data['education'].str.lower()

**Tarea 15. Mostrar el número de filas duplicadas en los datos. Si tales filas están presentes, elimínelas.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

#### Categorización de datos

**Tarea 16. Sobre la base de los rangos que se enumeran a continuación, cree una columna en el marco de fechas ¹data= con las categorías:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Por ejemplo, a un prestatario con 25.000 ingresos se le debe asignar una categoría de ['E'ː, y a un prestatario con 235.000 ingresos se le debe asignar una categoría de ¿'E'ː. Use su propia función con el nombre ¿categorize_income()y el método ¿apply()¹.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass
    
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Tarea 17. Mostrar una lista de objetivos únicos de la columna ¹propósito ː.**

In [18]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Tarea 18. Cree una función que, en base a los datos de la columna ¿purpose 3 formará una nueva columna ¿purpose_category ː, que incluirá las siguientes categorías:**

- operaciones con el coche,
- las operaciones inmobiliarias de Cis,
- la organización de la boda,
- proceso de educación'.

**Por ejemplo, si una subcadena para la compra de un automóvil ¿³' ' se encuentra en la columna ¹purpose_category;, las operaciones con el automóvil deben aparecer en la columna.**

**Utilice su propia función con el nombre ːcategorize_purpose()‍ y el método ːapply()ː. Estudie los datos en la columna ːpurpose y determine qué subcadenas le ayudarán a definir la categoría correctamente.**

In [19]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'
    
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

#### Paso 3. Explorar datos y responder preguntas

##### 3.1 ¿Existe una correlación entre el número de hijos y el reembolso del préstamo a tiempo?

In [20]:
t = data.pivot_table(index=['children'], values='debt', aggfunc=['count', 'sum'])
t['%'] = round((t['sum'] / t['count'] * 100), 2)
t['%'] = t['%'].astype(str) + '%'
t

          count   sum      %
           debt  debt
children
0         14091  1063  7.54%
1          4808   444  9.23%
2          2052   194  9.45%
3           330    27  8.18%
4            41     4  9.76%
5             9     0   0.0%

**Conclusión:** En la tabla de resumen se agrupan los datos por el número de hijos - se muestra el número total de clientes, el número de deudores y su porcentaje. A primera vista, aquellos con cinco hijos resultaron ser los prestatarios más concienzudos y devolvieron el préstamo a tiempo en 100% de los casos. Sin embargo, es importante entender que solo 9 - que es menos del 1% del total. En otros casos, los prestatarios más fiables sin hijos - su 7%, y los prestatarios con 1, 2, 4 hijos no devolvieron el crédito a tiempo en el 9% de los casos.

##### 3.2 ¿Existe una relación entre el estado civil y el reembolso del crédito a tiempo?

In [21]:
t = data.pivot_table(index=['family_status'], values='debt', aggfunc=['count', 'sum'])
t['procent'] = round((t['sum'] / t['count'] * 100), 2)
t['procent'] = t['procent'].astype(str) + '%'
t

                       count  sum procent
                        debt debt
family_status
Не женат / не замужем   2796  273   9.76%
в разводе               1189   84   7.06%
вдовец / вдова           951   63   6.62%
гражданский брак        4134  385   9.31%
женат / замужем        12261  927   7.56%

**Conclusión:** En la tabla de resumen, los datos se agrupan por estado familiar - se muestra el número total de clientes, el número de deudores y su porcentaje. La mayoría de los préstamos tardíos no estaban casados y en un matrimonio de hecho. El porcentaje más bajo de viudas (s) atrasadas.

##### 3.3 ¿Existe una relación entre el nivel de ingresos y el tiempo de reembolso del préstamo?

In [22]:
t = data.pivot_table(index=['total_income_category'], values='debt', aggfunc=['count', 'sum'])
t['procent'] = round((t['sum'] / t['count'] * 100), 2)
t['procent'] = t['procent'].astype(str) + '%'
t

                       count   sum procent
                        debt  debt
total_income_category
A                         25     2    8.0%
B                       5014   354   7.06%
C                      15921  1353    8.5%
D                        349    21   6.02%
E                         22     2   9.09%

   **Conclusión:** En la tabla de resumen, los datos se agrupan por categoría de ingresos - se muestra el número total de clientes, el número de deudores y su porcentaje. A - ingresos superiores a 1.000.000 rublos. B - por encima de 200.000, C - por encima de 50.000, D - por encima de 30.000 y E - ingresos inferiores a 30.000 rublos. Para las categorías A, D, E son una muestra demasiado pequeña, por lo que es incorrecto sacar conclusiones de ellas. Comparar las categorías B y C. Las personas con ingresos de la categoría B (de 200 mil a 1 millón) tienen un menor porcentaje de morosidad, y por lo tanto son prestatarios más fiables.

##### 3.4 ¿Cómo afectan los diferentes objetivos de préstamo a su reembolso?

In [23]:
t = data.pivot_table(index=['purpose_category'], values='debt', aggfunc=['count', 'sum']) 
t['procent'] = round((t['sum'] / t['count'] * 100), 2)
t['procent'] = t['procent'].astype(str) + '%'
t

                          count  sum procent
                           debt debt
purpose_category
операции с автомобилем     4279  400   9.35%
операции с недвижимостью  10751  780   7.26%
получение образования      3988  369   9.25%
проведение свадьбы         2313  183   7.91%

**Conclusión:** En la tabla de resumen los datos se agrupan por la finalidad del préstamo - se muestra el número total de clientes, el número de deudores y su porcentaje. Los más poco fiables eran los prestatarios para la educación y la compra de automóviles. Pero los que toman un préstamo en la propiedad, la mayoría de las veces lo pagan a tiempo.

##### 3.5 Proporcione las posibles razones para perder los datos de origen.

*Respuesta:* Las posibles razones de omisión pueden incluir la recopilación incompleta de datos (por ejemplo, diferentes oficinas utilizan diferentes plantillas de cuestionarios para los clientes), la ocultación de información por el cliente o la introducción incorrecta de información (por ejemplo, scratch o número donde responder a las palabras). Otra razón podría ser problemas técnicos que causaron el borrado de los datos clasificados.

Explica por qué las omisiones en blanco son la mejor solución para las variables cuantitativas.

*Respuesta:* No debe haber valores vacíos para una evaluación más precisa. El valor mediano muestra la imagen real más correctamente, porque está exactamente a medio camino entre todos los valores ordenados en orden ascendente. El valor medio representa la imagen real. El número medio puede distorsionarse cuando están presentes valores extremos (muy altos o muy bajos).

### Paso 4: Salida general.

Sobre la base de los patrones deducidos anteriormente, el retrato perfecto del prestatario para el banco es la gente de la familia sin hijos, preferiblemente un viudo/ viuda, con un nivel de ingresos por encima de la media (de 200 mil a 1 millón. rublos), deseando tomar una hipoteca para la compra de bienes raíces. Los clientes más poco fiables pueden incluir personas con hijos, solteras o que viven en una relación de hecho. Los ingresos de estas personas es probable que sea promedio (50-200 mil. rub.). El banco debe prestar especial atención si el préstamo tal prestatario asume la educación o la compra de automóviles - esto aumenta el riesgo de morosidad.